{% extends 'comunidade/base.html' %}

{% block conteudo %}

<div class="container" style="align-items: center; text-align: center; margin-top: 20px;">

    <h3>Contatos</h3>
    <div class="bg-light">
        <h6>Coordenação:</h6>
        <p><b>Roberval Cavalcante</b> <small><i>tel: (92) 99999-9999</i></small></p>
        <p><b>Sileno Ramires</b> <small><i>tel: (92) 99999-9999</i></small></p>
        <p><b>Delane Santos</b> <small><i>tel: (92) 99999-9999</i></small></p>
        <p><b>Arineide Moreira</b> <small><i>tel: (92) 99999-9999</i></small></p>

    </div>
</div>

{% endblock %}