{% extends 'comunidade/base.html' %}

{% block conteudo %}



<div class="container" style="align-items: center; text-align: center; margin-top: 20px;">
    <h3>Pastorais</h3>
    <div class=" bg-light">
       <p><b>Pastoral da Catequese</b></p>
       <p>Coordenação: Arineide Moreira</p>

       <p><b>Pastoral da Liturgia</b></p>
       <p>Coordenação: Delane Santos</p>

        <p><b>Pastoral do Batismo</b></p>
        <p>Coordenação: Jessica Lima</p>

       <p><b>Pastoral do Dízimo</b></p>
       <p>Coordenação: Silviane Lima</p>


    </div>

</div>



{% endblock %}